# Exports de pages web Copilot sauvegardees localement
projets/US13_portfolio/Microsoft Copilot _ votre assistant IA.html
projets/US13_portfolio/Microsoft Copilot _ votre assistant IA_files/

# Environnements virtuels Python
.venv/
venv/
env/
ENV/

# VSCode
.vscode/

# Jekyll local build artifacts
_site/
.jekyll-metadata
.sass-cache/

# Scripts Python racine (garder uniquement README.md)
/convert_final_table.py
/convert_tables_html.py
/fix_last_table.py
/fix_readme.py

# Projets ignorés
projets/P13_portfolio/Compétences_RNCP_Data/
assets/PROOF_POINTS_TEMPLATE
assets/JOURNAL_ASSERTIONS_PORTFOLIO.md
assets/TNR github

# Pages ignorées
Gemfile
Gemfile.lock
TNR_PUBLICATION_MVP.md
_config.dev.yml
_config.yml
tash list
e -File  Where-Object { $_.LastWriteTime -gt (Get-Date).AddHours(-24) }  Select-Object FullName, LastWriteTime
e-a-jour-veille

# Data filesSuppressio
data/

# Images
images/

# Scripts Python
src/
scripts/

# Pages web exportées
*.html

# Streamlit
.streamlit/config.toml
.streamlit/*.lock
streamlit_app/
